AddDefaultCharset utf-8

Options +FollowSymlinks
Options -Indexes

RewriteEngine On # Turn on the rewriting engine

RewriteRule ^dashboard$ index.php?page=dashboard [QSA,NC,L]
RewriteRule ^quests$ index.php?page=quests [QSA,NC,L]
RewriteRule ^lorgnette$ index.php?page=lorgnette [QSA,NC,L]

<IfModule mod_php5.c>
   php_value short_open_tag 1
   #php_value memory_limit 64M
</IfModule>